* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    font-size: 12px;
}


.container {
    display: grid;
    grid-template-rows: 50px 1fr;
    
}

header{
    background-color: black;
    box-shadow: rgb(53, 53, 53) 0 0 5px;
    z-index: 1;
}

nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;

}


button {
    border: none;
    background-color: #000;
    font-size: 1.5rem;
    padding: 0 80px; 
    color: #fff;
}

#content {
    min-height: calc(100vh - 50px);
    background-image: url("./img/hanxiao-xu-kpSv4lopgmU-unsplash.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

.text-container{
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: min(600px,80vw);
    padding: 40px;
    margin: 0 10vw; 
}

section {
    margin-bottom: 20px;
    line-height: 1.5;
}

.title {
    font-size: 3rem;
}

.subtitle {
    font-size: 2rem;
}

.text,
.price{
    margin-top: 15px;
    font-size: 1.5rem;
}

.photo-credit {
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 1.2rem;
}

footer {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    gap: min(100px,5vw);
    padding: 80px;
}

.contact-info > *{
    margin-bottom: 5px;
}

.menu-container {
    align-self: start;
    margin: 50px 10vw;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
}

.menu-section {
    color: #fff;
}

.food-name {
    font-size: 1.8rem;
}

.desc {
    font-size: 1.3rem;
}

.selected {
    font-weight: 700;
    text-decoration: underline;
}
